{% extends 'base.html' %}

{% block content %}
  <h2>Account list</h2>

  {% if account_list %}
      <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Currency</th>
        </tr>
        {% for account in account_list %}
          <tr>
            <td>{{ account.id }}</td>
            <td>{{ account.name }}</td>
            <td>{{ account.currency_code }}</td>
          </tr>
        {% endfor %}
      </table>
  {% else %}
      <p>No accounts.</p>
  {% endif %}
  
  <a href="/expense/">Back to main page</a>

{% endblock %}