{% extends 'base.html' %}

{% block content %}
  <h2>Expense category list</h2>

  {% if category_list %}
      <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
        {% for category in category_list %}
          <tr>
            <td>{{ category.id }}</td>
            <td><a href="/expense/categories/{{category.id}}">{{ category.name }}</a></td>
          </tr>
        {% endfor %}
      </table>
  {% else %}
      <p>No categories.</p>
  {% endif %}
  
  <p><a href="/expense/categories/add">Add category</a></p>
  <p><a href="/expense/">Back to main page</a></p>

{% endblock %}